Repository alaa-nabawy/laravel-solid-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: laravel-pint, phpstan, phpunit, composer-audit, eslint, prettier

laravel-pint:
  name: Laravel Pint (Code Style)
  entry: docker compose -f compose.dev.yaml exec -T workspace ./vendor/bin/pint
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

phpstan:
  name: PHPStan (Static Analysis)
  entry: docker compose -f compose.dev.yaml exec -T workspace ./vendor/bin/phpstan analyse --memory-limit=1G --no-progress
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

phpunit:
  name: PHPUnit (Unit Tests)
  entry: docker compose -f compose.dev.yaml exec -T workspace ./vendor/bin/phpunit --configuration=phpunit.precommit.xml --stop-on-failure
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

composer-audit:
  name: Composer Security Audit
  entry: docker compose -f compose.dev.yaml exec -T workspace composer audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

eslint:
  name: ESLint (JavaScript Linter)
  entry: docker compose -f compose.dev.yaml exec -T workspace npm run lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true
  require_serial: false

prettier:
  name: Prettier (Code Formatter)
  entry: docker compose -f compose.dev.yaml exec -T workspace npx prettier --write
  language: system
  stages:
  - pre-commit
  verbose: true

fix: prevent duplicate Passport migration files
  database/migrations/2025_07_28_143214_create_oauth_auth_codes_table.php
  database/migrations/2025_07_28_143215_create_oauth_access_tokens_table.php
  database/migrations/2025_07_28_143216_create_oauth_refresh_tokens_table.php
  database/migrations/2025_07_28_143217_create_oauth_clients_table.php
  database/migrations/2025_07_28_143218_create_oauth_device_codes_table.php
  scripts/setup-passport.sh
Due: laravel-pint, phpstan, phpunit

fix: correct OAuth client creation table structure
  scripts/setup-passport.sh
Due: none

feat: Transform CI pipeline to Docker-based setup for production parity
  .github/workflows/ci.yml
  compose.ci.yaml
  docs/general/ci-docker-setup.md
Due: prettier

fix/docker compose
  .github/workflows/ci.yml
  scripts/code-quality.sh
  scripts/docker-troubleshoot.sh
  scripts/setup-pre-commit.sh
Due: none

fix: Update CI to use modern 'docker compose' and fix container permissions
  .github/workflows/ci.yml
Due: none

set minimum value for code coverage
  .github/workflows/ci.yml
  docs/general/code-quality-tools.md
  scripts/code-quality.sh
Due: prettier

fix: include composer.lock in Docker build context
  .dockerignore
  README.md
Due: prettier

add MIT LICENSE
  LICENSE
Due: none

fix: resolve Docker build issues with composer and vite
  .dockerignore
  README.md
  docker/common/php-fpm.Dockerfile
Due: prettier

feat: add Scramble API documentation with auto-generated docs
  app/Http/Controllers/Api/UserController.php
  app/Http/Requests/StoreUserRequest.php
  app/Http/Requests/UpdateUserRequest.php
  app/Http/Resources/UserResource.php
  composer.json
  composer.lock
  config/scramble.php
  docs/README.md
  docs/general/scramble-api-documentation.md
  docs/general/scramble-quick-reference.md
  resources/views/vendor/scramble/.gitkeep
  resources/views/vendor/scramble/docs.blade.php
  routes/api.php
Due: laravel-pint, phpstan, phpunit, composer-audit, prettier

Fix MakeRouteGroupTest to properly clean up bootstrap/app.php modifications
  bootstrap/app.php
  tests/Unit/Console/Commands/MakeRouteGroupTest.php
Due: laravel-pint, phpstan, phpunit

fix production build
  .dockerignore
  .github/workflows/ci.yml
  docker/common/php-fpm.Dockerfile
Due: none

Auth Docuemntation
  docs/Auth/Api/AuthController.md
  docs/Auth/Api/LoginService.md
  docs/Auth/Api/README.md
  docs/Auth/Api/Requests.md
  docs/Auth/Api/SignupService.md
Due: prettier

fix: Add PHPStan type annotations to rate limit middleware
  app/Http/Middleware/AdminRateLimitMiddleware.php
  app/Http/Middleware/AuthenticatedRateLimitMiddleware.php
  app/Http/Middleware/PublicRateLimitMiddleware.php
  bootstrap/app.php
  config/rate_limits.php
  docs/README.md
  docs/general/rate-limiting.md
  routes/api.php
Due: laravel-pint, phpstan, phpunit, prettier

docs: add comprehensive testing roadmap and implementation guide
  docs/README.md
  docs/general/testing-roadmap.md
Due: prettier

docs: add comprehensive testing roadmap and implementation guide
  README.md
  docs/Auth/Api/README.md
  docs/Auth/Testing.md
  docs/general/testing-roadmap.md
Due: prettier

feat: Add comprehensive frontend documentation suite
  README.md
  docs/frontend/README.md
  docs/frontend/advanced-configuration.md
  docs/frontend/deployment.md
  docs/frontend/react-setup.md
  docs/frontend/switching-frameworks.md
  docs/frontend/vue-setup.md
Due: prettier

Update React and Vue stub package files with prettier:check script and prettier dependency
  stubs/package-react.json
  stubs/package-vue.json
Due: prettier

fix vite config
  stubs/vite-react.config.js
  stubs/vite-vue.config.js
  vite.config.js
Due: eslint, prettier

feat: add SecureHeaders and RequestId middlewares with comprehensive tests
  .eslintrc.cjs
  app/Http/Middleware/HandleInertiaRequests.php.bak
  app/Http/Middleware/RequestId.php
  app/Http/Middleware/SecureHeaders.php
  bootstrap/app.php
  coverage.txt
  coverage.xml
  package-lock.json
  package.json
  package.json.backup
  phpstan.neon
  resources/js/Pages/Welcome.jsx
  resources/js/Pages/Welcome.vue
  tests/Feature/RequestIdMiddlewareTest.php
  tests/Feature/SecureHeadersMiddlewareTest.php
  vite.config.js.backup
Due: laravel-pint, phpstan, phpunit, eslint, prettier

remove coverage files
  coverage.txt
  coverage.xml
Due: none

add phpstan neon
  phpstan.neon
Due: none

Path conditions:
  laravel-pint: any of: \.php$
  phpstan: any of: \.php$
  phpunit: any of: \.php$
  composer-audit: any of: composer\.(json|lock)$
  eslint: any of: \.(js|ts|vue)$
  prettier: any of: \.(js|ts|vue|css|scss|json|md)$
